// Here you can add other styles
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.25;
    }
    100% {
      opacity: 1;
    }
  }
  
  .blink {
    animation: blink 2s infinite;
  }

  .pagination {
    --cui-pagination-padding-x: 0.75rem;
    --cui-pagination-padding-y: 0.375rem;
    --cui-pagination-font-size: 1rem;
    --cui-pagination-color: var(--cui-info);
    --cui-pagination-bg: var(--cui-body-bg);
    --cui-pagination-border-width: var(--cui-border-width);
    --cui-pagination-border-color: var(--cui-info);
    --cui-pagination-border-radius: var(--cui-border-radius);
    --cui-pagination-hover-color: var(--cui-info);
    --cui-pagination-hover-bg: var(--cui-tertiary-bg);
    --cui-pagination-hover-border-color: var(--cui-info);
    --cui-pagination-focus-color: blue;
    --cui-pagination-focus-bg: var(--cui-secondary-bg);
    --cui-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(3, 0, 175, 0.25);
    --cui-pagination-active-color: rgba(255, 255, 255, 0.87);
    --cui-pagination-active-bg: var(--cui-info);
    --cui-pagination-active-border-color: var(--cui-info);
    --cui-pagination-disabled-color: var(--cui-secondary-color);
    --cui-pagination-disabled-bg: var(--cui-secondary-bg);
    --cui-pagination-disabled-border-color: var(--cui-border-color);
    display: flex
;
    padding-left: 0;
    list-style: none;
  }

/* custom-datatable.css */
// .custom-datatable .p-datatable-thead > tr > th{
//   background-color: blue;
//   color: white;
// }

.custom-datatable .p-datatable-thead > tr > th,
.custom-datatable .p-datatable-tbody > tr > td {
  border: 1px solid rgb(199, 199, 199);
  padding: 0 5px 0 5px;
}
.custom-datatable .p-datatable-tbody > tr > td {
  padding: 10px 5px 10px 5px;
}

.custom-datatable .p-datatable-thead > tr > th {
  background-color: #d5dfe9;
}

.p-row-odd{
  background-color: #F4F6F8;
  
}

.custom-datatable .p-datatable-tbody > tr > td {
  // background-color: #ffffff;
  font-size: 10pt;
  text-transform: uppercase;
  white-space: nowrap;
}

input.p-inputnumber-input.p-inputtext.p-component.p-filled {
  width: 90px;
  height: 24px;
  font-size: 10pt;
}

td input.p-inputtext.p-component {
  height: 24px;
  font-size: 10pt;
}

.p-paginator .p-paginator-pages .p-paginator-page.p-highlight{
  // background-color: rgb(21, 132, 184) !important;
  background-color: rgb(100, 130, 173) !important;
  color: white !important;
  border-radius: 10px !important;
  // width: 32px !important;
  // height: 32px !important;
}

.p-paginator-page.p-paginator-element.p-link,
.p-paginator-first.p-paginator-element.p-link,
.p-paginator-prev.p-paginator-element.p-link,
.p-paginator-next.p-paginator-element.p-link,
.p-paginator-last.p-paginator-element.p-link
{
  border-radius: 10px;
}

.p-datatable.p-datatable-gridlines .p-paginator-bottom,
.p-datatable .p-paginator-bottom
{
  border: 0;
  margin-top: 12px;
}

.p-paginator-pages{
  display: flex;
  gap: 5px;
}

.btn.disabled{
  background-color: #D9D9D9 !important;
  color: #989898 !important;
  opacity: 100%;
  cursor: pointer !important;
  border: 0;
}

.rs-picker-error>.rs-picker-input-group{
  border-color: gray !important;
  outline: none !important;
}

.rs-picker-error>.rs-picker-input-group:focus, .rs-picker-error>.rs-picker-input-group:active{
  border-color: #3498ff !important;
  outline: 3px solid rgb(from #3498ff r g b/25%) !important;
}

.rs-picker-error>.rs-picker-input-group:hover{
  border-color: #3498ff !important;
}

.css-1nmdiq5-menu{
  position: relative;
  z-index: 50 !important;
}

.form-control:focus{
  // box-shadow: none;
  box-shadow: 0 0 0 0.05rem #2684FF;
  border-color: #2684FF;
  // border: 2px solid #2684FF;
}

.rs-picker-popup{
  z-index: 10000 !important;
}

.p-component-overlay {
  background-color: #ffffff;
  transition-duration: 0.2s;
  border: 1px solid gray;
}

.p-datatable .p-datatable-loading-overlay{
  z-index: 10;
}